body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Boilerplate*/
.container {
    flex: 1;  
    /* isse kya hua ki yeh class hamari jo min-height hai usko pura occupy kiya and hamara footer har bar ek page me bottom me jake set hojyga. */
}

/*Navbar */
.navbar {
    height: 4rem;
    background-color: white; 
    /* isse hamara content sroll krne par dikhai nhi dega ya overflow nhi krega kyunki transparent se hamne bg color ko white kr diya hai jisse content hide ho jayga.*/
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;  /* !important isliye use kiya kyunki ham bootstrap styling use krrhe hain or agar ham custom styling ko apply krna chahte hain toh hame usko style me ywh likhna padega jisse ki yeh custom styling bootstrap styling ko override kr paye.*/
}

/* Footer*/
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards*/ 
.listing-card {
    /* !imporatnt isliye use krte hai ki jo bootstrap styling hai usko yeh custom styling override krle or yeh styling apply ho(na ki bootstrap wali) */
    border: none !important;  
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Add listing page*/
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map { 
    height: 400px; 
    width: 80vh; 
}